/* ! reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* ************************************************** */

/* ! debug */

.debug [class*="col-"] {
    background: #006CFA;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    white-space: nowrap;
    color: white;
}

/* ************************************************** */

/* ! preset contenitori */

.container-fluid {
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.nested {
    background: #00E164 !important;
    border: 1px solid #006CFA !important;
}

/* ************************************************** */

/* ! colonne */

.col-1 {
    flex-basis: calc(100% / 12 * 1);
}

.col-2 {
    flex-basis: calc(100% / 12 * 2);
}

.col-3 {
    flex-basis: calc(100% / 12 * 3);
}

.col-4 {
    flex-basis: calc(100% / 12 * 4);
}

.col-5 {
    flex-basis: calc(100% / 12 * 5);
}

.col-6 {
    flex-basis: calc(100% / 12 * 6);
}

.col-7 {
    flex-basis: calc(100% / 12 * 7);
}

.col-8 {
    flex-basis: calc(100% / 12 * 8);
}

.col-9 {
    flex-basis: calc(100% / 12 * 9);
}

.col-10 {
    flex-basis: calc(100% / 12 * 10);
}

.col-11 {
    flex-basis: calc(100% / 12 * 11);
}

.col-12 {
    flex-basis: calc(100% / 12 * 12);
}
