/* ! reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Shadows Into Light', cursive;
}

/* ************************************************** */

/* ! preset contenitori */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(img/background.png);
    background-position: center;
    background-size: cover;
}

.pixel-art [class*="col-"] {
    padding: 10px;
}

.black {
    background: black;
}

.yellow {
    background: #FFD03C;
}

.orange {
    background: #FF612F;
}

.shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

img {
    width: 100%;
    height: 100%;
}

@keyframes bounce {
    5% {
        transform: rotate(10deg);
    }

    10% {
        transform: translateY(5px);
    }

    15% {
        transform: translateY(-5px);
    }

    20% {
        transform: translateY(5px);
    }

    25% {
        transform: translateY(-5px);
    }

    30% {
        transform: translateY(5px);
    }

    35% {
        transform: translateY(-5px);
    }

    40% {
        transform: translateY(5px);
    }

    45% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    55% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(5px);
    }

    65% {
        transform: translateY(-5px);
    }

    70% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(5px);
    }

    85% {
        transform: translateY(-5px);
    }

    90% {
        transform: translateY(5px);
    }

    95% {
        transform: rotate(-10deg);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* ************************************************** */

/* ! main content */

.container {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid black;
}

.main-content {
    padding: 20px;
    display: flex;
    flex-grow: 1;
}

.main-col-1 {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid black;
}

.picture {
    width: 290px;
    height: 290px;
    animation: 4.5s bounce infinite;
    position: relative;
}

.picture:hover .bubble {
    opacity: 1;
}

.bubble {
    width: 200px;
    height: 100px;
    position: absolute;
    top: -50px;
    right: -100px;
    opacity: 0;
    transition: 200ms linear;
}

.bubble h1 {
    position: absolute;
    top: 18px;
    left: 78px;
}

.main-col-2 {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pixel-art {
    width: 380px;
    padding: 20px;
    animation: 5s bounce infinite;
    position: relative;
}

.pixel-art:hover .bubble {
    opacity: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    flex-basis: calc(100% / 16 * 1);
}

.col-2 {
    flex-basis: calc(100% / 16 * 2);
}

.col-3 {
    flex-basis: calc(100% / 16 * 3);
}

.col-4 {
    flex-basis: calc(100% / 16 * 4);
}

.col-5 {
    flex-basis: calc(100% / 16 * 5);
}

.col-6 {
    flex-basis: calc(100% / 16 * 6);
}

.col-7 {
    flex-basis: calc(100% / 16 * 7);
}

.col-8 {
    flex-basis: calc(100% / 16 * 8);
}

.col-9 {
    flex-basis: calc(100% / 16 * 9);
}

.col-10 {
    flex-basis: calc(100% / 16 * 10);
}

.col-11 {
    flex-basis: calc(100% / 16 * 11);
}

.col-12 {
    flex-basis: calc(100% / 16 * 12);
}

.col-13 {
    flex-basis: calc(100% / 16 * 13);
}

.col-14 {
    flex-basis: calc(100% / 16 * 14);
}

.col-15 {
    flex-basis: calc(100% / 16 * 15);
}

.col-16 {
    flex-basis: calc(100% / 16 * 16);
}

/* ! fine */